/* To import 'Open Sans' font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*To style all text with Open Sans font*/
body{
    font-family: 'Open Sans';
}

/*To position registration body*/
.Registration-body{ 
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
}

/*To position and style Chair and researcher body*/
.signBody,
.LoginBody{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/*The following lines change the size of the forms so they adjust to the window/device display size */
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width:0;
    }
}

/*To position form in the center*/
.UploadsBod{
    background-position: center;
}

.main{
    top: 17%;
    left: 30%;
    width: 460px;
    border: 2px solid #000;
    padding: 40px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 12px;
    padding-top: 80px;
}

#file::-webkit-file-upload-button{
    visibility: hidden;
}

#file , input[type=button] , #Color{
    width: 90%;
    height: 70px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 17px;
    border:1px solid #000;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    transition: .5s all;
}

#file{
    width: 84%;
    height: 55px;
    padding-top: 23px;
    padding-left: 20px;
}

#file:hover , input[type=button]:hover , #Color:hover{
    cursor: pointer;
    background-color: #4287f5;
}

/*The following is to style the roles page*/

/*To style the user roles body*/
.Roles-body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/*To position the enter button */
.button{
    height: 45px;
    margin: 45px 0;
}

/*To style the enter buttons*/
.button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/*To change the color of the input when the cursor hovers over it*/
.button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}


/*To style all the container classes*/
.container{
    max-width:700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

/*To style all the container titles classes*/
.container .title{
    font-size: 25px;
    font-weight: 500;
    position:relative;
}

.container .title::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/*To style the user details section of all the forms*/
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

/*To style the border of the input boxes*/
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

/*To style the gender details sections*/
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label{
    display: flex;
    align-items: center;
}

.gender-details .category .dot{
    height: 10px;
    width: 10px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

/*To style the gender dots */
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #9b59b6;
}

form input[type="radio"]{
    display: none;
}

/*To position the enter button */
form .button{
    height: 45px;
    margin: 45px 0;
}

/*To style the enter buttons*/
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/*To change the color of the input when the cursor hovers over it*/
form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
